@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Permanent+Marker&display=swap');

.ValidationMessage {
  color: #DC5318;
  font-family: 'Kalam', cursive;
  font-size: 16px;
  padding-left: 15px;
  max-width: 155px;
}

input {
  padding: 5px 10px;
  font-size: 15px;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  border-radius: 9px;
}
